@{
    ViewBag.Title = "Home Page";
    ViewBag.SubTitle = "| Apps";
}

@section Scripts{


<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/angular-route/angular-route.min.js"></script>
<script src="~/js/appsportal.js"></script>
<script src="~/js/services/appsService.js"></script>
<script src="~/js/services/appData.js"></script>
<script src="~/js/appsEditorController.js"></script>
<script src="~/js/appsController.js"></script>


<script src="~/lib/underscore/underscore-min.js"></script>
@*<script src="~/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>*@
   
}
<div ng-app="appsportal">

    <div ng-view></div>
</div>