@{
    ViewBag.Title = "| Index";
}

<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    Index
    <small>Some Index description.</small>
    
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="note note-info">
    <p> Light page head with page title, breadcrumbs and action dropdown menu. </p>

    
</div>