@{
    ViewBag.Title = "Home Page";
    ViewBag.SubTitle = "| Slides";
}

@section Scripts{


    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/appsportal.js"></script>
    <script src="~/js/services/slideService.js"></script>
    <script src="~/js/slidesController.js"></script>


    <script src="~/lib/underscore/underscore-min.js"></script>
    @*<script src="~/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>*@

}
<div ng-app="appsportal">

    <div ng-view></div>
</div>